<html>

<head>
  <title>MAD-BRACKETS!
 - your key to getting a great second bracket for March Madness</title>
  <meta charset="utf-8">
  <!-- <style>
  button.team {
    background:none!important;
     border:none;
     padding:0!important;

    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     text-decoration:underline;
     cursor:pointer;
}</style> -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://bootswatch.com/3/cerulean/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/bracket.css"> -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>


</head>



<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/"> Mad-brackets! </a> </li>
      </ul>
      <ul class="nav navbar-nav ">


        <li><a href="#"> About </a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contact"> Contact </a> </li>
      </ul>

    </div>
  </div>
</nav>
</div>

<body>

  <div class="jumbotron">
    <div class="container">
    <div class="col-xs-6 col-xs-offset-3">
    <center>
    <h2> Mad-brackets was created by <br><br><b>Gabe Shaughnessy</b> <br><br> while a fellow at <a href="http://insightdatascience.com/">Insight Data Science</a></h2>
      <br>
      <br>
      <h4>
        <a href="https://github.com/gshau/"> github</a>  |  <a href="https://www.linkedin.com/in/gshau/"> Linkedin</a>
      </h4>
    </center>
  </div>
</div>
</div>



</body>

</html>
