<html>

<head>
  <title>Tournament Bracket Generator</title>
  <meta charset="utf-8">

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/bracket.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>

  <script>
    $(document).on('ready', function() {

      var bracket = {{bracket | safe }};

      var maxTeam = [32, 16, 8, 4, 2, 1];

      var knownBrackets = [2, 4, 8, 16, 32],
      teamsLB1 = {{bracket[1][:16] | safe}},
      teamsLB2 = {{bracket[1][16:32] | safe}},
      teamsRB1 = {{bracket[1][32:48] | safe}},
      teamsRB2 = {{bracket[1][48:64] | safe}},
        bracketCount = 0;
      var seeds = [1, 16, 8, 9, 5, 12, 4, 13, 6, 11, 3, 14, 7, 10, 2, 15];
      var opts = 32; //parseInt(prompt('Bracket size (number of teams):',16));
      getBracket(opts, "LB", teamsLB1.concat(teamsLB2), seeds, bracket, false);
      getBracket(opts, "RB", teamsRB1.concat(teamsRB2), seeds, bracket, true);

      var payout = {{ payout | safe}};
      var ptile0 = {{ ptile0 | safe}};
      var ptile1 = {{ ptile1 | safe}};
      var bustPCT = {{ bustPCT | safe}};
      console.log(ptile0);

      document.getElementById("payout0").textContent=Math.round(payout[0]*100)/100.;
      document.getElementById("payout1").textContent=Math.round(payout[1]*100)/100.;


      document.getElementById("ptile01").textContent=Math.round(ptile0[0]*100)+" %";
      document.getElementById("ptile11").textContent=Math.round(ptile1[0]*100)+" %";
      document.getElementById("ptile02").textContent=Math.round(ptile0[1]*100)+" %";
      document.getElementById("ptile12").textContent=Math.round(ptile1[1]*100)+" %";
      document.getElementById("ptile03").textContent=Math.round(ptile0[2]*100)+" %";
      document.getElementById("ptile13").textContent=Math.round(ptile1[2]*100)+" %";

      document.getElementById("bustPCT").append(Math.round(bustPCT*100)+" %");


      $('#Champ').append('<div class="rChamp"><div class="Champ"><div><span class="teamc">' + bracket[7][0] + '</span></div></div></div>');

      // getBracket(opts);
      /*
       * Build our bracket "model"
       */
      function getBracket(base, bracketGroup, teams, seeds, bracket, reverse) {

        var closest = _.find(knownBrackets, function(k) {
            return k >= base;
          }),
          byes = closest - base;

        if (byes > 0) base = closest;

        var brackets = [],
          round = 1,
          baseT = base / 2,
          baseC = base / 2,
          teamMark = 0,
          nextInc = base / 2;

        for (i = 1; i <= (base - 1); i++) {
          var baseR = i / baseT,
            isBye = false;

          if (byes > 0 && (i % 2 != 0 || byes >= (baseT - i))) {
            isBye = true;
            byes--;
          }

          var last = _.map(_.filter(brackets, function(b) {
            return b.nextGame == i;
          }), function(b) {
            return {
              game: b.bracketNo,
              teams: b.teamnames
            };
          });

          brackets.push({
            lastGames: round == 1 ? null : [last[0].game, last[1].game],
            nextGame: nextInc + i > base - 1 ? null : nextInc + i,
            teamnames: round == 1 ? [seeds[teamMark % 16] + '. ' + teams[teamMark], seeds[(teamMark + 1) % 16] + '. ' + teams[teamMark + 1]] : [last[0].teams[_.random(1)], last[1].teams[_.random(1)]],
            bracketNo: i,
            roundNo: round,
            bye: isBye
          });
          teamMark += 2;
          if (i % 2 != 0) nextInc--;
          while (baseR >= 1) {
            round++;
            baseC /= 2;
            baseT = baseT + baseC;
            baseR = i / baseT;
          }
        }
        if (reverse) {
          renderBracketsReverse(brackets, bracketGroup);
        } else {
          renderBrackets(brackets, bracketGroup, bracket);
        }
      }

      /*
       * Inject our brackets
       */
      function renderBrackets(struct, bracketGroup, bracket) {
      var roundNumber = _.uniq(_.map(struct, function(s) {
          return s.roundNo;
        })).length;
        var group = $('<div class="group' + (roundNumber + 1) + '" id="b' + bracketCount + '"></div>'),
          grouped = _.groupBy(struct, function(s) {
            return s.roundNo;
          });

        for (iround = 1; iround <= roundNumber; iround++) {
          var round = $('<div class="r' + iround + '"></div>');
          var teamsInThisRound=bracket[iround];
          console.log(teamsInThisRound);
          for (iteam=1; iteam <= maxTeam[iround]; iteam++){
            round.append('<div><div class="bracketbox"><span class="teama">' + teamsInThisRound[2*iteam-2] + '</span><span class="teamb">' + teamsInThisRound[2*iteam-1] + '</span></div></div>');
          }

          group.append(round);
        }
        group.append('<div class="r' + (roundNumber + 1) + 'L"><div class="final"><div class="bracketbox"><span class="teamc">' + bracket[roundNumber+1][0] + '</span></div></div></div>');
        $('#' + bracketGroup).append(group);

        bracketCount++;
      }


      function renderBracketsReverse(struct, bracketGroup) {
        var roundNumber = _.uniq(_.map(struct, function(s) {
          return s.roundNo;
        })).length;
        var group = $('<div class="group' + (roundNumber + 1) + '" id="b' + bracketCount + '"></div>'),
          grouped = _.groupBy(struct, function(s) {
            return s.roundNo;
          });
        group.append('<div class="r' + (roundNumber + 1) + 'R"><div class="final"><div class="bracketbox"><span class="teamc">' + bracket[roundNumber+1][1] + '</span></div></div></div>');

        for (iround = roundNumber; iround > 0; iround--) {
          var round = $('<div class="r' + iround + '"></div>');
          var teamsInThisRound=bracket[iround];
          console.log(teamsInThisRound);
          for (iteam=maxTeam[iround]+1; iteam <= 2*maxTeam[iround]; iteam++){
            round.append('<div><div class="bracketboxrev"><span class="teama">' + teamsInThisRound[2*iteam-2] + '</span><span class="teamb">' + teamsInThisRound[2*iteam-1] + '</span></div></div>');
          }

          group.append(round);
        }
        $('#' + bracketGroup).append(group);

        bracketCount++;
      }


    });
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>



<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li><a href="/">Start Over</a></li>
        <!-- <li><a href="/populate/{{year}}">Autopopulate</a></li> -->
        <!-- <li><a href="/generate/{{year}}" target="_blank">Suggest Second Bracket</a></li> -->
        <!-- <li><a href="#">Local Radar</a></li> -->
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Back-test Year <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for year in years %}
            <li><a href="/year/{{year}}" target="">{{year}}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> Mad-brackets
       - your key to getting a great second bracket for March Madness</a></li>
        <li>
          <a href="#popupInfo" class="btn btn-warning btn-lg">
          <span class="glyphicon glyphicon-question-sign"></span> Info
        </a>
      </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
</div>

</div>

<body>
  <!-- <div id="add" class="metroBtn">Generate second Bracket</div> -->

  <!-- <div class="container">
    <div class="jumbotron">
      <center>
        <h4>
          Mad-brackets {{ year }}
        </h4> <br> your key to getting a great second bracket for March Madness
      </center>
    </div>

  </div> -->
  <!-- <div class="jumbotron"> -->
  <div class="container col-xs-4 col-md-offset-4">
    <center>
      <!-- <h4>
        Payout (for every dollar in):
      </h4> -->
      <!-- <div class="container col-sm-6"> -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><div id="bustPCT">Bust PCT: </div></th>
              <th scope="col">Bracket 1</th>
              <th scope="col">Bracket 2</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Payout per $ in</th>
              <td><div id="payout0"></div></td>
              <td><div id="payout1"></div></td>
            </tr>
            <tr>
              <th scope="row">1st place %</th>
              <td><div id="ptile01"></div></td>
              <td><div id="ptile11"></div></td>
            </tr>
            <tr>
              <th scope="row">2nd place %</th>
              <td><div id="ptile02"></div></td>
              <td><div id="ptile12"></div></td>
            </tr>
            <tr>
              <th scope="row">3rd place %</th>
              <td><div id="ptile03"></div></td>
              <td><div id="ptile13"></div></td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>
      <br>
  </center>
  </div>


  <div class="container">
    <div class="row">
    <div class="col-sm-6">
      <div class="brackets" id="LB" style="width:100%">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="brackets" id="RB" style="width:100%">
      </div>
    </div>
  </div>
  <div class="container ">
   <div class="row">
     <div class="col-sm-5"></div>
 <div class="col-sm-2 col-sm-offset5" style="margin-top:-260; margin-left:40">
   <div class="brackets" id="Champ" style="width:100%" >
   </div>
 </div>
</div>
<!-- </div> -->

</body>

</html>
